<div class="bg-white p-7">
  <h2 class="text-xl font-semibold mb-4">Сферы</h2>
  <ul class="">
    <li class="mb-2">
      <a class="flex items-center" href="/">
        <figure class="router__fakecheckbox router__fakecheckbox_active"></figure>
        <span class="">Для молока</span>
      </a>
    </li>
    <li class="mb-2">
      <a class="flex items-center" href="/">
        <figure class="router__fakecheckbox"></figure>
        <span class="">Для пива и сусла</span>
      </a>
    </li>
    <li>
      <a class="flex items-center" href="/">
        <figure class="router__fakecheckbox"></figure>
        <span class="">Для вина и соков</span>
      </a>
    </li>
  </ul>
</div>