<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= require(`html-loader!./inner-google${isDevServer ? '-dev-server' : ''}.html`).default %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('index.html')[0] %>"  rel="canonical" />
  </head>
  <body class="page bg-primary-lightgray">
    <%= require(`html-loader!./inner-metrika${isDevServer ? '-dev-server' : ''}.html`).default %>
    <header class="header__up py-8">
        <%=_.template(require('html-loader!./insets/asides/inner-header.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
    </header>
    <main class="content relative mt-10 mb-20">
      <h1 class="up-title up-title_svg up-title_h1 mb-10 bg-primary-lightgray">О производстве</h1>
      <div class="grid grid-cols-3 gap-10">
        <img class="contrast-125" src="<%=require('./images/_dr/view1.png')%>" alt="фото цеха по производству коплектующих для теплообменников 1">
        <img class="contrast-125" src="<%=require('./images/_dr/view2.png')%>" alt="фото цеха по производству коплектующих для теплообменников 2">
        <img class="contrast-125" src="<%=require('./images/_dr/view3.png')%>" alt="фото цеха по производству коплектующих для теплообменников 3">
      </div>
      <h2 class="up-title up-title_svg mt-14 mb-10">Производство комплектующих для теплообменников</h2>
      <ul class="container-4 items-start">
        <% refs.filter(ref => ref.tags.includes('kompls')).map((ref)=> { %>
          <li class="flex flex-col-reverse">
            <h3 class="text-xl font-bold text-primary-black mt-5 mb-3 uppercase"><%= ref.name %></h3>
            <div class="w-full py-12 relative bg-white flex items-center justify-center ">
              <img class="w-2/3 transition-all duration-200 group-hover:scale-110" src="<%= isDevServer ? 'https://www.dromotron.ru' : '' %>/api-images/<%= ref.poster %>" alt="<%= ref.name %>">
              <figure class="highliter highliter_top-left"><div class="highliter__element"></div></figure>
              <figure class="highliter highliter_bottom-right"><div class="highliter__element"></div></figure>
              <figure class="highliter highliter_top-right"><div class="highliter__element"></div></figure>
              <figure class="highliter highliter_bottom-left"><div class="highliter__element"></div></figure>
            </div>
          </li>
        <% }) %>
      </ul>
      <h2 class="up-title up-title_svg mb-10  mt-14">Производство пищевых пластинчатых теплообменников</h2>
        <ul class="container-4 items-start">
          <% refs.filter(ref => ref.tags.includes('pto')).map((ref)=> { %>
            <li class="flex flex-col-reverse relative">
              <h3 class="text-xl font-bold text-primary-black mt-5 mb-3 uppercase"><%= ref.name %></h3>
              <div class="w-full py-12 relative bg-white flex items-center justify-center ">
                <img class="w-2/3 transition-all duration-200 group-hover:scale-110" src="<%= isDevServer ? 'https://www.dromotron.ru' : '' %>/api-images/<%= ref.poster %>" alt="<%= ref.name %>">
                <figure class="highliter highliter_top-left"><div class="highliter__element"></div></figure>
                <figure class="highliter highliter_bottom-right"><div class="highliter__element"></div></figure>
                <figure class="highliter highliter_top-right"><div class="highliter__element"></div></figure>
                <figure class="highliter highliter_bottom-left"><div class="highliter__element"></div></figure>
              </div>
            </li>
          <% }) %>
        </ul>
    </main>
    <%= _.template(require('html-loader!./insets/asides/inner-footer.html').default)({ROUTES: ROUTES, page: 'notmain'}) %>
  </body>
</html>